* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
    height: 100vh;
    width: 100%;
    background-color: white;
    font-family: sans-serif;
    position: relative;
}



nav {
    top: 10px;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 150px;
    width: 400px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: rgb(186, 139, 231);
}

.info {
    margin-left: 30%;
    margin-top: 13%;

}

.info h4 {
    font-size: 15px;
    color: black;
    font-weight: lighter;
}

.info h1 {
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
}

.info p {
    color: black;
    line-height: 10px;

}

.info a {
    background: black;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 30px 10px;
    border-radius: 20px;
}

.myimg {
    width: 40%;
    height: 60%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.myimg image {
    height: 200%;
    width: 50px;
    position: absolute;
    left: 100%;
    bottom: 30px;
}

.about {
    margin-left: 60%;
    margin-top: 15%;
}

.about h1 {
    line-height: 40px;
}

.about p {
    line-height: 30px;
}

.bg {
    width: 30%;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 200px;
}

.bg image1 {
    height: 60%;
    width: 1%;
    position: absolute;
}

.heading h1 {
    margin-top: 250px;
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
}

.Education {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 150px;
    width: 80%;
    margin-left: 150px;
    line-height: 30px;
    position: relative;
}

.ssc {
    width: 200px;
    height: 200px;
    background-color: white;
    transition: box-shadow 0.3s ease;
    position: relative;
}

.p {
    overflow: hidden;
    position: relative;
    color: black;
}

.ssc:hover {
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
    display: block;
}

.ssc:hover+.p {
    display: block;
    transition: 0.5s ease;
}


.h3 {
    text-align: center;
    justify-content: space-between;
    font-size: 30px;
    margin-top: 10%;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.column {
    flex: 33.33%;
    padding: 5px;

}

.html {
    width: 150px;
    height: 150px;
    margin-left: 150px;
    justify-content: space-between;
    object-fit: cover;
    cursor: pointer;
}

.ach h1 {
    text-align: center;
    justify-content: space-between;
    margin-top: 15%;
}

.background {
    background-image: url('ach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1512px;
    margin-top: 5%;

}

.cer {
    display: flex;
}

.cer1 img {
    margin-top: 20px;
    width: 300px;
    height: 200px;
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
    margin-left: 300px;

}

.cer1 img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.cer2 img {
    margin-top: 20px;
    width: 300px;
    height: 200px;
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
    margin-left: 260px;
}

.cer2 img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.cer3 {
    display: flex;
    margin-top: 15px;
}

.cer4 img {
    margin-top: 20px;
    width: 300px;
    height: 200px;
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
    margin-left: 300px;

}

.cer4 img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.cer5 img {
    margin-top: 20px;
    width: 300px;
    height: 200px;
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
    margin-left: 260px;
}

.cer5 img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.contact {
    text-align: center;
}

.contact h1 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20px;
}

input {
    text-align: center;
    margin-top: 3%;
    padding: 10px;
    width: 250px;
    background-color: white;
    border: 0px solid;
    border-radius: 15px;
    box-shadow: 0px 10px 1px rgba(205, 200, 200, 0.767), 0 10px 20px rgb(171, 169, 169);
}

textarea {
    text-align: center;
    margin-top: 3%;
    padding: 10px;
    width: 250px;
    height: 100px;
    background-color: white;
    border: 0px solid;
    border-radius: 15px;
    box-shadow: 0px 10px 1px rgba(205, 200, 200, 0.767), 0 10px 20px rgb(171, 169, 169);
}

::placeholder {
    color: rgba(0, 0, 0, 0.459);
    font-size: 15px;
}

button {
    background: black;
    padding: 15px 20px;
    color: white;
    display: inline-block;
    margin-top: 40px;
    border-radius: 50px;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    background-color: black;

    box-shadow: 0px 10px 1px rgba(205, 200, 200, 0.767), 0 10px 20px rgb(171, 169, 169);
}

last {
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.888);
    height: 100px;
    width: 100%;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

last a {
    text-decoration: none;
    color: white;
}

last a:hover {
    background-color: rgba(0, 0, 0, 0.888);
}

last img {
    height: 50px;
    width: 50px;
    border-radius: 20px;

}

last img:hover {
    box-shadow: 0px 10px 1px rgba(221, 221, 221, 1), 0 10px 20px rgba(204, 204, 204, 1);
}

.link a {
    margin-right: 10px;
    font-size: 20px;
}

.link a:hover {
    color:  rgb(186, 139, 231);
}